{{#if @pagination}}
   <nav class="pagination {{@website.postsOrdering}}">
      {{#checkIf @website.postsOrdering '==' "desc"}}

         {{#each @pagination.pages}}
            {{#isCurrentPage @pagination.currentPage this}}
               <a href="#" class="btn active">
                  <strong>{{this}}</strong>
               </a>
            {{else}}
               <a href="{{pageUrl @pagination.context this}}" class="btn">
                  {{this}}
               </a>
            {{/isCurrentPage}}
         {{/each}}

         {{!-- {{#if @pagination.nextPage}}
            <a href="{{@pagination.nextPageUrl}}" class="btn">
               {{#checkIf @website.postsOrdering '==' "desc"}}
                  {{ translate 'partials.pagination.prev' }}
               {{else}}
                  {{ translate 'partials.pagination.next' }}
               {{/checkIf}}
            </a>
         {{/if}} --}}
         {{!-- {{#if @pagination.previousPage}}
            <a href="{{@pagination.previousPageUrl}}" class="btn">
               {{#checkIf @website.postsOrdering '==' "desc"}}
                  {{ translate 'partials.pagination.next' }}
               {{else}}
                  {{ translate 'partials.pagination.prev' }}
               {{/checkIf}}
            </a>
         {{/if}} --}}
      {{else}}
         {{#if @pagination.previousPage}}
            <a href="{{@pagination.previousPageUrl}}" class="btn">
               {{#checkIf @website.postsOrdering '==' "desc"}}
                  {{ translate 'partials.pagination.next' }}
               {{else}}
                  {{ translate 'partials.pagination.prev' }}
               {{/checkIf}}
            </a>
         {{/if}}
         {{#if @pagination.nextPage}}
            <a href="{{@pagination.nextPageUrl}}" class="btn">
               {{#checkIf @website.postsOrdering '==' "desc"}}
                  {{ translate 'partials.pagination.prev' }}
               {{else}}
                  {{ translate 'partials.pagination.next' }}
               {{/checkIf}}
            </a>
         {{/if}}
      {{/checkIf}}
   </nav>
{{/if}}
