{{> head}}
{{> navbar}}
<main class="page page--tag">
   <div class="hero wrapper">
      {{#tag}}
         {{#if description}}
            <p>
               {{description}}
            </p>
         {{/if}}
         <h1>{{name}}
            <sup>({{postsNumber}})</sup>
         </h1>
      {{/tag}}
   </div>
   {{#checkIf @config.custom.cardsLayout '==' "compact" }}
      <div class="l-col l-col{{@config.custom.layoutTags}}">
         {{#each posts}}
            <section
               class="c-card{{#isFeatured}} c-card--compact c-card--featured{{/isFeatured}}">
               <a href="{{url}}" class="c-card__link">
                  {{#featuredImage}}
                     {{#if url}}
                        <div class="c-card__header">
                           <img
                              src="{{url}}"
                              {{#if @config.site.responsiveImages}}
                                 {{responsiveImageAttributes 'featuredImage' srcset.cards sizes.cards}}
                              {{/if}}
                              {{ lazyload "lazy" }}
                              height="{{height}}"
                              width="{{width}}"
                              alt="{{alt}}">
                        </div>
                     {{/if}}
                  {{/featuredImage}}
                  <div class="c-card__body c-card__body--compact">
                     <div class="c-card__text c-card__text--compact">
                        {{#if @config.custom.cardsDate}}
                           <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                              {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                 {{date createdAt @config.custom.formatDate}}
                              {{else}}
                                 {{date createdAt @config.custom.formatDateCustom}}
                              {{/checkIf}}
                           </time>
                        {{/if}}
                        <h2>
                           {{title}}
                        </h2>
                        {{{excerpt}}}
                     </div>
                  </div>
               </a>
            </section>
         {{/each}}
      </div>
   {{else}}
      <div class="l-col l-col{{@config.custom.layoutTags}}">
         {{#each posts}}
            <section class="c-card{{#isFeatured}} c-card--featured{{/isFeatured}}">
               <a href="{{url}}" class="c-card__link">
                  {{#featuredImage}}
                     {{#if url}}
                        <div class="c-card__header">
                           <img
                              src="{{url}}"
                              {{#if @config.site.responsiveImages}}
                                 {{responsiveImageAttributes 'featuredImage' srcset.cards sizes.cards}}
                              {{/if}}
                              {{ lazyload "lazy" }}
                              height="{{height}}"
                              width="{{width}}"
                              alt="{{alt}}">
                        </div>
                     {{/if}}
                  {{/featuredImage}}
                  <div class="c-card__body">
                     <div class="c-card__text">
                        {{#if @config.custom.cardsDate}}
                           <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                              {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                 {{date createdAt @config.custom.formatDate}}
                              {{else}}
                                 {{date createdAt @config.custom.formatDateCustom}}
                              {{/checkIf}}
                           </time>
                        {{/if}}
                        <h2>
                           {{title}}
                        </h2>
                        {{#if hasCustomExcerpt}}
                           {{{excerpt}}}
                        {{/if}}
                     </div>
                  </div>
               </a>
            </section>
         {{/each}}
      </div>
   {{/checkIf}}
   {{> pagination}}
</main>
{{> footer}}
